.background {
  background-image: url("/assets/images/fond.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  height: 95vh;
}

.content {
  max-width: 700px;
}

h1 {
  color: white;
}

p {
  color: white;
}

.cta {
  margin-top: 3em;
}

.cta a:not(:first-child) {
  margin-left: 2em;
}

.card {
  position: absolute;
  top: 50%;
  right: 0;
  width: 600px;
  height: 340px;
  transform: translate(20%, -48%);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 1.5em;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2.5em;
  animation: floating-card 4s ease-in-out infinite;
}

.card-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.chip {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  height: 60px;
}

@keyframes floating-card {
  0% {
    transform: translate(20%, -49%);
  }
  50% {
    transform: translate(20%, -51%);
  }
  100% {
    transform: translate(20%, -49%);
  }
}

