<div class="background">
  <div class="container">
    <div class="content">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Curabitur sit enim, turpis orci luctus enim, nullam duis. Felis, tempor cras risus sollicitudin diam fusce est nisl aenean.
      </p>
      <div class="cta">
        <a href="" class="btn blue">Go to app</a>
        <a href="" class="btn outline-white">Prototype button</a>
      </div>
    </div>
    <div class="card">
      <div class="card-container">
        <img class="logo" src="/assets/images/LOGO%20COMPLET/logo%20complet%20couleur.png" alt="">
        <img class="chip" src="/assets/images/ICONS/chip.png" alt="">
      </div>
    </div>
  </div>
</div>
